.inputFile {
    display: none;
}

.bodyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f8fa;
    padding-top: 80px;
    flex-grow: 1;
}

.bodyLarge {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    border: 1px dashed #0024d7;
    padding: 130px 140px;
    background-color: white;
    margin-bottom: 20px;
}

.bodySmall {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    border: 1px dashed #0024d7;
    padding: 50px 280px;
    background-color: white;
    margin-bottom: 20px;
}

.text {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.textDragging {
    color: #4296ca;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.btn {
    background-color: #4296ca;
    border: 1px solid #0b3249;
    color: white;
    padding: 7px 15px;
    font-size: 1rem;
}

.btn:hover {
    cursor: pointer;
    background-color: #145b85;
}

.body:hover {
    cursor: pointer;
}

.info {
    color: #394b59;
    text-align: center;
    margin-bottom: 30px;
}

.dragging {
    background-color: #82929f70;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
