.wrapper {
    border: 1px solid #10161A26;
    padding: 10px 15px;
    margin-bottom: 30px;
    background-color: white;
}

.fileHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #10161A26;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.icon {
    margin-right: 10px;
}

.content {
    display: flex;
    position: relative;
}

.img {
    object-fit: cover;
    margin-right: 20px;
    width: 160px;
    height: 160px;
}

.linkItem {
    display: flex;
    border: 1px solid #10161A26;
    padding: 10px;
    margin-bottom: 10px;
}

.linkImage {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
}

.linkImage:hover {
    background: rgba(0,0,0,.7);
}

.iconGlass {
    display: none;
    width: 60px;
}

.linkImage:hover .iconGlass {
    display: block;
}
