.header {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    border-bottom: 1px solid #10161A26;
}

.logo {
    color: #394b59;
    font-size: 2rem;
    font-weight: 800;
    line-height: 4rem;
    font-family: Montserrat, sans-serif;
}

.profile {
    display: flex;
    align-items: center;
}

.image {
    height: 32px;
    border-radius: 100%;
    margin-right: 10px;
}

.name {
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 20px;
}

.btn {
    font-size: 1.1rem;
    border: 1px solid #18202633;
    border-radius: 3px;
    padding: 7px 15px;
    text-decoration: none;
    color: #182026;
}

.btn:hover {
    background-color: #A7B6C24C;
}
