.footerWrapper {
    border-top: 1px solid #10161A26;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectLanguage {
    padding: 4px 10px;
}

.selectLanguage:hover {
    background-color: #A7B6C24C;
    border-radius: 5px;
}

.language {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    color: #31383d;
}


.menu {
    list-style: none;
    display: flex;
    margin-right: 10px;
    font-size: .8rem;
}

.link {
    text-decoration: none;
    color: #106ba3;
    margin: 0 10px;
    position: relative;
}

.link:hover {
    text-decoration: underline;
}

.link::after {
    content: '';
    display: block;
    height: 100%;
    background: rgba(16,22,26,.15);
    position: absolute;
    right: -10px;
    top: 0;
    width: 1px;
}

.copyrightLink {
    text-decoration: none;
    color: #106ba3;
}

.copyrightLink:hover {
    text-decoration: underline;
}
